@import '~bruce/bruce';
@include BruceReset;
@include BruceBoxSizing;

$bruce-zindex: (
    'Select',
    'Dropdown',
    'Overlay'
);

@import '~dcme-style/lib/all';
@include DcmeConfig;

@include DcmeBase;
@include DcmeBox;
@include DcmeBulletList;
@include DcmeGrid;
@include DcmeInput;
@include DcmeLink;
@include DcmeMessage;
@include DcmeSelect;
@include DcmeTerminal;
@include DcmeText;
@include DcmeToggle;
@include DcmeWrapper;

.Slider {
    margin: 0 auto;
}
