@mixin ResponsiveAnalogReadControl($name: 'Control') {
    .#{$name} {
        height: 100%;

        &_graph {
            height: 100%;
        }

        &_sliders {
            height: 100%;
        }

        @content;
    }
}
