{
    "extends": [
        "eslint-config-blueflag",
        "eslint-config-blueflag/react",
        "eslint-config-blueflag/flow"
    ],
    "rules": {
        "newline-per-chained-call": "off"
    }
}
