{
    "extends": [
        "eslint-config-blueflag",
        "eslint-config-blueflag/flow",
        "eslint-config-blueflag/react"
    ],
    "rules": {
        "newline-per-chained-call": "off"
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    }
}
